**/__pycache__
**/.lh
test.ipynb
**/ml-1m
*.h5
coverage.xml
codacy_coverage.sh
HandyRec.egg-info

# docs
*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

**/.vscode/

**/node_modules/
**/.sass-cache/

**/.bundle/
**/vendor/bundle
*.gem

**/yarn.lock
**/package-lock.json
**/Gemfile.lock

**/_site/
**/.jekyll-metadata
**/.jekyll-cache/
